/* custom-calendar-styles.css */
.rbc-calendar {
  font-family: "Inter", sans-serif;
  border-radius: 20px !important;
}
.rbc-btn {
  color: red !important;
  background-color: #007bff !important;
  border: none;
}

.rbc-today {
  background-color: #cec2ff !important; /* Change background color for 'today' */
}

.rbc-event {
  background-color: #17a2b8; /* Change background color for events */
  color: #fff; /* Change text color for events */
  border: none; /* Remove borders around events */
}

.rbc-header {
  background-color: white; /* Change background color for headers */
  color: #333333;
}
.rbc-row {
}
.rbc-toolbar .rbc-btn-group button {
  color: #333333;
  border-radius: 10px !important;
  margin-right: 10px;
}
.rbc-toolbar .rbc-btn-group button.rbc-active {
  background-color: #efebff !important;
  border: 1px solid #beadff;
}
.rbc-toolbar:nth-child(1) {
  color: #333333;
  font-weight: 500;
}
.rbc-time-view {
  color: #333333;
  font-weight: 500;
  font-size: 13px;
}
.rbc-toolbar-label {
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 17px;
}
.rbc-btn-group button:hover{
  background-color: #beadff !important;
  color: white !important;
  transition: 0.2s all;
}
.rbc-header {
  padding: 10px 0 10px 0 !important;
}
.rbc-header span{
  font-size: 15px;
}
.rbc-day-slot {
  background-color: white !important;
}

.rbc-slot-selection, .rbc-selected-cell {
  background-color: #efebff !important;
}
.rbc-slot-selection, .rbc-selected-cell span{
  color: #333333 !important;
}
.rbc-date-cell button {
  color: #333333;
  font-weight: 500;
}