@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(241, 241, 241);
  list-style-type: none;
  text-decoration-style: none;
  color: #333333;
}

@layer components {
  .btn-primary {
    @apply px-[27px] py-[11px] bg-purple rounded-lg text-white font-semibold hover:bg-purple-hover hover:shadow-[0px_0px_32px_0px_rgba(99,60,255,0.25)] transition-all disabled:bg-gray disabled:opacity-40 disabled:shadow-none;
  }
  .btn-secondary {
    @apply border-purple border-solid border rounded-lg text-purple font-bold py-[11px] hover:bg-light-purple px-7 transition-all;
  }
  .input {
    @apply w-full h-12 bg-[#FFF] justify-start px-5 border border-zinc-300 rounded-lg outline-none mt-1 transition-all focus:shadow-[0px_0px_32px_0px_rgba(99,60,255,0.25)] focus:border-2 focus:border-purple focus:outline-none;
  }
}
